/* GRAMPP STYLING */

a:link {
    color: #fff!important;
}

a:visited {
    color: #ff9f19!important;
}

a:hover {
    color: #ff9f19!important;
}

a:active {
    color: #ff9f19!important;
}

body {
 font-family: 'Source Sans Pro', sans-serif;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}

.p-light{
    
    color: #ffffff;
    font-size: 0.7em;
    line-height: 2;
}

.p-dark{
    
    color: #000;
    font-size: 0.7em;
    line-height: 2;
}

hr {
  max-width: ;
  border-width: 3px;
  border-color: #01a8a9; 
  
}

h2{
  font-family: font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 1.75rem!important;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  line-height: 40px;
  
}


.grampp-header{
    
   
}

.grampp-logo{
    
    float: left;
    padding:25px 0px 25px 0px;
}

.auto-logos{
    
    float: right;
    padding:50px 0px 25px 0px;
}

.auto-logos img{
    
    height: 33px;
    margin-right: 15px;
}


.grampp-header-img img{
    
    width:100%;
}

.small-info-wrapper{
    
    padding: 25px 0px 25px 0px;
}

.small-info{
    
   font-size:12px;
}

.highlight-header{
    
   padding:15px 0px 15px 0px;
   background-color: #ff9f19;
   text-align: center;
   font-family: font-family: 'Source Sans Pro', sans-serif;
   font-weight: 700;
   font-size: 1.25rem!important;
}

.gewinnspiel-wrapper{
    
    background-color: #01a8a9;
    text-align: center;
    font-family: font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1.25rem!important;
    color:#fff;
    padding:15px 0px 15px 0px;
    
}

.gewinnspiel-wrapper img{
    
    width:100%;
    padding:15px 0px 15px 0px;
    
}

.grampp-contacts img {
    
    width:100%;
}

.grampp-contacts {
    
    width:100%;
}

.grampp-contact {
    
    background-color: #01a8a9;
    text-align: center;
    font-family: font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color:#fff;
    padding:0 0 15 0;
}

.grampp-footer {
    
    background-color: #2c2c2c;
    font-family: font-family: 'Source Sans Pro', sans-serif;
    padding: 35px 0px 35px 0px;
    color:#fff;
    
}

.grampp-footer li{
    
    list-style-type: none;
    
}

.grampp-footer-item img{
    
 height: 20px;
    
}




input::placeholder { color:#999999!important; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #ff9f19!important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}


/* GRAMPP STYLING */

















/* VIDEO HEADER */

.modal-video
{
    width: 100%!important;
    height: 100%!important;
}

.modal-video iframe
{
    position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
}

.youtube-video-header{}
.youtube-video-header iframe{
    
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height:100%;
    z-index: -1;
	overflow: hidden;
    background-position: center center;

}


.video-header{
    position: relative;
    height: 60vh;
    display: block;
	overflow: hidden;
}

.video-header-mobile{
    
    padding:25px 10px 25px 10px;
    height: 100%;
    display: none;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.video-overlay{
    
    border:1px solid transparent;
    height: 60vh;
    width:100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
	padding-top: 25vh;
}


#video-modal{
	width: 100%;
}


/***** Modal *****/
 
.modal-backdrop.in {
    filter: alpha(opacity=9);
    opacity: 0.9;
}
 
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    
}
.modal-dialog
{
    
} 

/* /.VIDEO HEADER */

.dynamic-content {
    
    display:none;
}


.nav-bottom{

    height:40px;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding-top: 9px;
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.countdown-nav {
  
  color:#fff;
  font-size: 16px;
  font-weight:500;
  text-transform: uppercase;
  z-index: 1000;
}

/* MAKE COUNTDOWN STICKY */
.change{
    
    top: 0;
    position: fixed;
}


.nav-top{
    
    background-color: #f5f5f5;
    height:40px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
}




.navbar{
    
    /*margin-top: 40px;*/
   * z-index: 1000;*
}


.small-text{
    
    padding: 10px 0px 10px 0px;
}


div.intl-tel-input{
	width:100% !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
   


.btn-desktop{display: block!important;}
.btn-mobile{display: none!important;}
.form-desktop{display: block!important;}
.form-mobile{display:none !important; padding: 25px;}

.partner-img-mobile{display:none !important;}
.partner-img{display: block!important;}

.model-feature{
    
    padding-top: 120px;
}

.videoWrapper-small {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper-small iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.stoerer{
    
    position: absolute;
    width: 250px;
    margin-top: 200px;
    margin-left:240px;
    display: block;
  
}

.text-overlay{
    
    padding: 25px;
    color: #fff;
    background-color: #00a2db;
    margin-top: 500px;
}


.features-maps{
    
  background: #f8f9fa;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 4rem;
  padding-bottom: 4rem;
    
}

.features-video{
    
  background: #f8f9fa;  /* fallback for old browsers */
  padding-top: 4rem;
  padding-bottom: 4rem;

    
}



.checkmark{
  display:inline-block;
  
  &:after{
    /*Add another block-level blank space*/
    content: '';
    display: block;
 
    /*Make it a small rectangle so the border will create an L-shape*/
    width: 3px;
    height: 6px;
 
    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #000;
    border-width: 0 2px 2px 0;
 
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}



.headline{
	padding-top: 80px;
}



#map { width: 100%; height: 450px;}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


.ds{
    
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 50px;
        border-radius: 25px;
     
}

.hidden{
    
    display: none;
}

.btn-text{
    
    color: #fff!important;
}


.partner-container,
 header.masthead {
  position: relative;
  background: #fff;  /* fallback for old browsers */
  background-image: ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
     
}

.form-container,
 header.masthead {
  position: relative;
  background: #3a7bd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url('../img/ems-bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     
     
}

header.masthead h1 {
  font-size: 2rem;
}

.showcase{
    
    background-size: cover;
    background-repeat: no-repeat;
}

.showcase .showcase-text {
  padding: ;
}

.showcase .showcase-img {
 
  background-size: contain;
  background-repeat: no-repeat;
}

.introduction {
    
    background: #ffffff;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.features-icons {
    
    background: #f5f5f5;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 4rem!important;
  padding-bottom: 4rem!important;
  position: relative;
  background: #3a7bd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url('../img/ems-bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.countdown {
  color:#fff;
  font-size: 24px;
}


.countdown-content {
 /*ackground-image: url('../img/bild_ems-training_hintergrund.jpg');*/
  background-color: #000;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.info-content {
  background-image: url('../img/bild_ems-training_hintergrund.jpg');
  background-color: #000;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.call-to-action {
    
   position: relative;
    
   background: #f5f5f5;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.form-container-mobile{display: none;}

#large-header
{
    height: 100%!important;
    width: 100%!important;
  
}

#demo-canvas
{
    height: 100%!important;
    width: 100%!important;
  
}


.form-img{ padding-top: 50px;}
.gewinn-img {margin-left: -20px;}
.form-img-mobile{display: none;}


.header-mobile{display: none;}
/*input form*/
.hidden-mobile{display: none;}

.clearspace{

  height: 2px;    
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* MEDIA QUERIES */

@media only screen and (max-width : 1920px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
    .stoerer{
    
    display: none;
  
}
    
 
}




@media (max-width: 1200px) {
    
    
    
}

@media (max-width: 1024px) {
    
      .form-img{ padding-top: 30px!important;}    
      #large-header{display: none;}   
}

@media (max-width: 992px) {
    
      .navbar-details{display:none!important;}
      .partner-img-mobile{display:block !important; padding-top: 30px;}
      .partner-img{display: none!important;}
      .logo-img{display: none;}
      .form-img{display: none;}
      .form-img-mobile{display: block; margin-top:;}
      .gewinn-form{display:none;}
      .form-container-mobile{display:block;}
      .nav-top{display: none;}
      .img-partner{display:none;} 
      .showcase-img-partner{display:none;} 
      .btn-desktop{display: none!important;}
      .btn-mobile{display:block!important;}
	  .img-ghost{display: none!important;}
	  .headline{padding-top: 30px!important;}
    
     .countdown-nav {
  
        color:#fff;
        font-size: 14px;
        font-weight:400;
        text-transform: uppercase;
     }
    
     .auto-logos{display:none;}
    
    .grampp-logo {
    
     display: block;
    margin: 0 auto;
}
     
    
}

@media (max-width: 870px) {
    
      .header-left{display: none;}
      .header-right{display: none;}
      .header-mobile{display: block;}
   
}

@media (max-width: 768px) {
    
    .stoerer{display: none;}
    .video-header{display: none!important;}
	.video-header-mobile{display: block!important;}
    .youtube-video-header{display: none!important;}
	
	.slider-bild-links {
	padding-left: 25% !important;
	padding-right: 25% !important;
	}

	.slider-bild-rechts {
		padding-top: 20px !important;
		padding-right: 25% !important;
		padding-left: 25% !important;
	}

	.slider-text-links {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.slider-text-rechts {
		padding-top: 20px !important;
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
    
    .nav-bottom{

    height:65px;
    
    }

}


.gwsp-mobile{display:none;}

.mobile-nav{
    
    display:none!important;
    padding: 15px 0px 15px 0px;

}




@media (max-width: 576px) {
    
    
    .navbar-light {display:none!important;}
    .static-top{display:none!important;}
    .mobile-nav{display:block!important;}
    .form-desktop{display: none!important;}
    .form-mobile{display:block!important; padding: 25px;}
    .model-feature{padding: 20px;}
    .hidden-input{display: none;}
    .hidden-mobile{display: block;}
    .hidden-model{display: none;}

      .countdown-nav {
  
              
              font-size: 11px;
              font-weight:500;
              
            }
    
   .gwsp-desktop{display:none;}
   .gwsp-mobile{display:block; margin-bottom:20px;}
    
    .auto-logos{display:none;}
    
    .grampp-logo {
    
     display: block;
    margin: 0 auto;
}
    .grampp-contact img{width:250px;}
    .grampp-contact {width:250px;margin:0 auto;display: block;}
    
    .grampp-footer{text-align: center;}
    
    .grampp-footer-item{margin: 15px 0px 15px 0px;}
} 

    


@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
	
	.slider-bild-links {
		padding-left: 60px !important;
		padding-right: 25px !important;
	}

	.slider-bild-rechts {
		padding-right: 60px !important;
		padding-left: 25px !important;
	}

	.slider-text-links {
		padding-left: 60px !important;
		padding-right: 25px !important;
	}
	.slider-text-rechts {
		padding-right: 60px !important;
		padding-left: 25px !important;
	}
	
}

@media only screen and (max-width : 1920px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}





#testimonial4{
  overflow: hidden;
  min-height: 375px;
  position: relative;
  background: #1583c9;
}
#testimonial4 .carousel-inner{
  width: 75%;
  margin: auto;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 2px 3px;
  background-color: #000;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
}

.testimonial4_slide p {
  color: #ffffff;
  font-size: 16px;
  margin: 40px 0 20px 0;
}

.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}


@media only screen and (max-width: 480px){
  .testimonial4_control_button .carousel-control{
    display: none;
  }
  .testimonial4_header{
    width: 95%;
  }
  .testimonial4_header h4{
    font-size: 20px;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .testimonial4_control_button .carousel-control.left{
    left: 2%;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 2%;
  }
  .testimonial4_header{
    width: 95%;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .testimonial4_control_button .carousel-control.left{
    left: 5%;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 5%;
  }
	.slider-bild-links {
		padding-left: 50px !important;
		padding-right: 0px !important;
	}

	.slider-bild-rechts {
		padding-right: 50px !important;
		padding-left: 0px !important;
	}

	.slider-text-links {
		padding-left: 50px !important;
		padding-right: 20px !important;
	}
	.slider-text-rechts {
		padding-right: 50px !important;
		padding-left: 20px !important;
	}
    
   
}

@-webkit-keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
	-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}


/* BUTTONS */

#stimawell-button-1 {
	border-color: rgb(0, 162, 219);
	color: rgb(0, 162, 219);
}
#stimawell-button-1:hover {
	border-color: rgb(0, 162, 219) !important;
	background-color: rgb(0, 162, 219) !important;
	color: rgb(255, 255, 255) !important;
}

#stimawell-button-2 {
	border-color: rgb(0, 162, 219);
	color: rgb(0, 162, 219);
}
#stimawell-button-2:hover {
	border-color: rgb(0, 162, 219) !important;
	background-color: rgb(0, 162, 219) !important;
	color: rgb(255, 255, 255) !important;
}



/* CAROUSEL */

/* VERSION 1 */
.testimonials-carousel {
	background-color: rgba(0,162,219,1);
	padding-top: 64px;
	padding-bottom: 64px;
}

.testimonials-carousel .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.testimonials-carousel .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.testimonials-carousel .carousel-indicators li {
	background-color: rgba(255,255,255,.4) !important;
}

.testimonials-carousel .carousel-indicators .active {
	background-color: rgba(255,255,255,1) !important;
}

.testimonials-slider {
	padding-top: 50px;
	padding-bottom: 70px;
}


/* VERSION 2 */
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300a2db' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300a2db' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
	background-color: #FFFFFF !important;
}

.carousel-indicators .active {
	background-color: #00a2db !important;
}

@media (max-width: 1200px) {
	.experte-text-container {
		padding-top: 0px !important;
	} 
}

@media (max-width: 992px) {
	.experte-text {
	margin-left: 0px !important;
	}
}

@media (max-width: 768px) {
	.experte-img {
	max-width: 250px !important;
	}
}

.experte {
   	padding-top: 4rem;
	padding-bottom: 4rem;
   	background: #fff;
}
.experte-text-container {
	margin-top: 30px;
	padding-top: 20px;
}
.experte-img {	
}
.experte-img-subtext {
}
.experte-text {
	text-align: justify;
	margin-left: 20px;
	font-style: italic;
}
