
input::placeholder{font-size: 13px;}

input#telefon{
	width:100%;
}
div.flag-container{
	position:absolute;
	z-index:100;
}

div.intl-tel-input{
	width:100% !important;
}
@media (max-width: 992px){
	div.intl-tel-input{
		width:100% !important;
	}
}



.checkmark{
  display:inline-block;
  
  &:after{
    /*Add another block-level blank space*/
    content: '';
    display: block;
 
    /*Make it a small rectangle so the border will create an L-shape*/
    width: 3px;
    height: 6px;
 
    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #000;
    border-width: 0 2px 2px 0;
 
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}

body, html {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
	max-width: 50px;
	border-width: 3px;
	border-color: #005577;
}
hr.light {
	border-color: #005577;
}
hr.dark {
	border-color: #FFFFFF;
	padding: 0px 0px 40px 0px;
}
a {
	color: #005577;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
a:hover {
	color: #a0424a;
}
.nav-head {
	font-family: 'Cinzel', serif;
	font-size: 22px;
	padding-top: 25px;
}
.bullet-point {
	font-family: 'Cinzel', serif;
	font-size: 18px;
	color: #000;
	vertical-align: super;
}
.number-point {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #fff;
}
.number {
	font-family: 'Cinzel', serif;
	font-size: 56px;
	color: #fff;
}
.bullet-group {
	padding-bottom: 12px;
	padding-top: 12px;
}
.bullet-image {
	margin-top: 20px;
}
fa {
	color: black !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel', serif;
}
.bg-primary2 {
	background-color: rgba(255, 255, 255, 0.7) !important;
}
.bg-primary {
	background-color: #FFFFFF !important;
}
.bg-dark {
	background-color: #005577 !important;
}
.text-faded {
	color: rgba(255, 255, 255, 0.7);
}
::-moz-selection {
	color: #fff;
	background: #212529;
	text-shadow: none;
}
::selection {
	color: #fff;
	background: #212529;
	text-shadow: none;
}
img::selection {
	color: #fff;
	background: transparent;
}
img::-moz-selection {
	color: #fff;
	background: transparent;
}
body {
	-webkit-tap-highlight-color: #212529;
}
.clearspace {
	background-color: #005577;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.clearspace-trans {
	background-color: transparent;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#mainNav {
	border-bottom: 1px solid rgba(33, 37, 41, 0.1);
	background-color: #fff;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
#mainNav .navbar-brand {
	font-weight: 700;
	text-transform: uppercase;
	color: #005577;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
	color: #005577;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
	font-size: .9rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #212529;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
	color: #005577;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
	color: #005577 !important;
	background-color: #fff;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
	background-color: #fff;
}
@media (min-width: 992px) {
	#mainNav {
		border-color: transparent;
		background-color: transparent;
	}
	#mainNav .navbar-brand {
		color: rgba(255, 255, 255, 0.7);
	}
	#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
		color: #fff;
	}
	#mainNav .navbar-nav>li.nav-item>a.nav-link {
		padding: 0.5rem 1rem;
	}
	#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
		color: rgba(255, 255, 255, 0.7);
	}
	#mainNav .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
		color: #fff;
	}
	#mainNav.navbar-shrink {
		border-bottom: 1px solid rgba(33, 37, 41, 0.1);
		background-color: #fff;
	}
	#mainNav.navbar-shrink .navbar-brand {
		color: #005577;
	}
	#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
		color: #005577;
	}
	#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
		color: #212529;
	}
	#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
		color: #005577;
	}
}
.form-head {
    margin-top:100px;
	width: 100%;
	background-color: #fff;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	padding: 15px 20px 15px 20px;
}
.form-head2 {
	width: 100%;
	background-color: #fff;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	padding: 35px 35px 35px 35px;
}
.input-fields {
	border: 1px solid #ccc;
	border-radius: 0px !important;
}
.checkbox-field {
	border: 2px solid #ccc;
	border-radius: 0px !important;
}
.open-sans {
	font-family: 'Open Sans', sans-serif;
}
.open-sans2 {
	font-family: 'Open Sans', sans-serif;
	line-height: 10px!important;
}
.shadow {
	-moz-box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.3);
}
.shadow-alt {
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 6px 6px 6px rgba(0, 0, 0, 0.3);
}
.hintergrund {
	background-image: url(../img/hintergrund-informationen.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.newsletter {
	background-image: url(../img/newsletter-anmeldung-1.jpg);
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
}
.newsletter-alt {
	background-image: url(../img/flash-web-solutions-ihr-spezialist-fuer-kapitalanlagen-und-pflegeimmobilien-4.jpg);
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
}
.header-alt {
	background-image: url(../img/newsletter-anmeldung-1.jpg);
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 550px;
}
.form-newsletter {
	width: 100%;
	background-color: #fff;
	height: 100%;
	margin-left: 700px !important;
	font-family: 'Open Sans', sans-serif;
	padding: 25px 25px 25px 25px;
}
.stoerer {
	position: fixed;
	z-index: 100;
    right:0!important;
	
}
@media (max-width: 1400px) {
	.form-newsletter {
		margin-left: 0px !important;
	}
}
/* INTRODUCTION MASTHEAD TEXT */

section {
	padding: 3rem 0;
}
.section-heading {
	margin-top: 0;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 15px 15px 15px 15px;
}
.section-heading2 {
	color: #FFFFFF;
	font-size: 3rem;
	padding: 75px 15px 0px 15px;
}
.section-heading-alt {
	margin-top: 0;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 15px 15px 15px 0px;
}
.section-heading-detail {
	text-align: left !important;
}
.intro-text-container {
	height: 100%;
	width: 100%;
}
.intro-text {
	margin-top: 250px;
}

.intro-text-details-stoerer {
		display: none;
	}
.intro-text-alt {
	margin-top: 20px;
}
header.masthead {
	background-image: url(../img/rentner-pflegeimmobilien.jpg);
	background-position: left center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header.masthead2 {
	background-image: url(../img/fws-header.jpg);
	background-position: left center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mobile-head{
    
    display: none;
}

@media (max-width: 1400px) {
	.form-head {
		margin-left: 0px !important;
        margin-top:10px;
	}
}
@media (max-width: 1200px) {
	.btn {
		font-size: 14px !important;
	}
	.btn-1 {
		font-size: 14px !important;
	}
	.stoerer {
		display: none;
	}
    
    .intro-text-details-stoerer {
		display: block;
	}
    
    .intro-text {
	margin-top: 20px;
}
}
@media (min-width: 991px) {
	.intro-text-details {
		display: none;
	}
    
   

    
}
@media (max-width: 991px) {
    
    .section-heading2{
        
        font-size:30px;
    }
    
     .mobile-head{
    
    display: block; max-width:400px;
}
    
    nav{display:none;}
    
    .stoerer {
		display: none;
	}
	.form-head {
		display: ;
	}
	.intro-text {
		margin-top: 30px;
		text-align: center;
	}
	.nav-title {
		text-align: center;
	}
	.intro-text-details {
		display: block;
	}
	.form-head {
		text-align: center;
		margin-bottom: 50px;
	}
	.bullets {
		font-size: 14px;
		font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	}
	
}
@media (max-width: 574px) {
	header.masthead {
	background-image: none !important;
	background-color: #FFFFFF !important;
	}
}

@media (max-width: 600px) {
	.stoerer {
		display: none!important;
	}
}
@media (max-width: 400px) {
	.footer-image img {
		width: 100%;
	}
}
@media (min-width: 768px) {
	header.masthead p {
		font-size: 1.15rem;
	}
	.section-heading-detail {
		text-align: center;
	}
	.verzinsung-img {
		width: 100%;
	}
}
@media (max-width: 768px) {
	.bullet-group {
	padding-bottom: 4px;
	padding-top: 4px;
	}
	.slider-bild-links {
	padding-left: 10% !important;
	padding-right: 10% !important;
	}

	.slider-bild-rechts {
		padding-top: 20px !important;
		padding-right: 10% !important;
		padding-left: 10% !important;
	}

	.slider-text-links {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.slider-text-rechts {
		padding-top: 20px !important;
		padding-right: 15px !important;
		padding-left: 15px !important;
		text-align: center !important;
	}
	.slider-bild-links2 {
	padding-left: 25% !important;
	padding-right: 25% !important;
	}

	.slider-bild-rechts2 {
		padding-top: 20px !important;
		padding-right: 25% !important;
		padding-left: 25% !important;
	}

	.slider-text-links2 {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.slider-text-rechts2 {
		padding-top: 20px !important;
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
}
@media (min-width: 992px) {
	header.masthead {
		height: 70vh;
		min-height: 650px;
		padding-top: 0;
		padding-bottom: 0;
	}
	.slider-bild-links {
		padding-left: 60px !important;
		padding-right: 25px !important;
	}

	.slider-bild-rechts {
		padding-right: 60px !important;
		padding-left: 25px !important;
	}

	.slider-text-links {
		padding-left: 60px !important;
		padding-right: 25px !important;
	}
	.slider-text-rechts {
		padding-right: 60px !important;
		padding-left: 25px !important;
	}
	.slider-bild-links2 {
		padding-left: 60px !important;
		padding-right: 25px !important;
	}

	.slider-bild-rechts2 {
		padding-right: 60px !important;
		padding-left: 25px !important;
	}

	.slider-text-links2 {
		padding-left: 60px !important;
		padding-right: 25px !important;
	}
	.slider-text-rechts2 {
		padding-right: 60px !important;
		padding-left: 25px !important;
	}
}
@media (min-width: 1200px) {
	
}

@media (min-width: 768px) and (max-width: 991px){
	.slider-bild-links {
		padding-left: 50px !important;
		padding-right: 0px !important;
	}

	.slider-bild-rechts {
		padding-right: 50px !important;
		padding-left: 0px !important;
	}

	.slider-text-links {
		padding-left: 50px !important;
		padding-right: 20px !important;
	}
	.slider-text-rechts {
		padding-right: 50px !important;
		padding-left: 20px !important;
	}
	.slider-bild-links2 {
		padding-left: 50px !important;
		padding-right: 0px !important;
	}

	.slider-bild-rechts2 {
		padding-right: 50px !important;
		padding-left: 0px !important;
	}

	.slider-text-links2 {
		padding-left: 50px !important;
		padding-right: 20px !important;
	}
	.slider-text-rechts2 {
		padding-right: 50px !important;
		padding-left: 20px !important;
	}
}

.service-box {
	max-width: 400px;
}
.text-primary {
	color: #005577 !important;
}
.verzinsung-img {
	width: 80%;
}
btn-1 {
	width: 300px !important;
}
.btn {
	font-weight: 500;
	text-transform: uppercase;
	border: none;
	border-radius: 0px;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	width: 100%;
}
.btn-xl {
	padding: 1rem 2rem;
}
.btn-primary {
	background-color: #557700;
	border-color: #557700;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	color: #fff;
	background-color: #435e00 !important;
}
.p-light{  
    color: #ffffff;
    font-size: 0.7em;
    line-height: 2;
}

/* Slider */
.beispielobjekte {
  padding-top: 4rem!important;
  padding-bottom: 4rem!important;
  position: relative;
  background-color: #005577;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.testimonials-carousel .carousel-indicators li {
	background-color: rgba(255,255,255,.4) !important;
}

.testimonials-carousel .carousel-indicators .active {
	background-color: rgba(255,255,255,1) !important;
}

.testimonials {
  padding-top: 4rem!important;
  padding-bottom: 4rem!important;
  background-color: #EEEEEE!important;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.2);
}

.testimonials h5 {
	margin-top: 10px;
}

#services {
	padding-bottom: 4rem!important;
}

.bullet-group {
	padding-left: 10px;
	padding-right: 10px;
}
.bullet-image {
	margin-top: 20px;
}
.bullet-text {
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
	text-align: justify;
}
.bullet-point {
	font-size: 18px;
	color: #000;
	vertical-align: super;
}
.open-sans {
	font-family: 'Open Sans', sans-serif;
}
.open-sans2 {
	font-family: 'Open Sans', sans-serif;
	line-height: 10px!important;
	font-weight: bold;
	color: #005577;
}
.info {
	background-color: #005577;
}
.info-h1 {
	color: #FFFFFF;
	text-align: center;
	font-size: 2rem;
}
.info-h2 {
	color: #FFFFFF;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 5px;
}
.info-text {
	color: #FFFFFF;
	text-align: left
}

.header-h1 {
	background-color: #005577;
	font-size: 2.5rem;
	color: #FFFFFF;
	padding: 15px;
}
.header-h2 {
	background-color: #005577;
	font-size: 1.75rem;
	color: #FFFFFF;
	padding: 15px;
}

#previous-blue {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23005577' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
#next-blue {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23005577' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.indicators-blue li {
	background-color: rgba(0,85,119,.4) !important;
}

 #carousel2Indicators .carousel-indicators .active {
	background-color: rgba(0,85,119,1) !important;
}

.finanzierung {
	background-color: #EEEEEE;
	padding-top: 4rem !important;
  	padding-bottom: 4rem !important;
}

.option1 {
	background-color: #FFFFFF;
	padding: 2rem 10px 1rem 10px;
	color: #000000;
}

.option2 {
	background-color: #005577;
	padding: 2rem 10px 1rem 10px;
	color: #FFFFFF;
}

.carousel-control-next{
    
    background-color:transparent!important;

}
