.hidden{
    
    display: none;
}

body
{
    background-color: #ffffff!important;
    color: #000000!important;
    font-family: 'Roboto', sans-serif!important;
}

h2
{
    color:#069CD7!important;
    font-size: 35px!important;
    font-family: 'Roboto', sans-serif!important;
    font-weight:400!important;
}

h3
{
    color:#173A79!important;
    font-size: 25px!important;
    font-family: 'Roboto', sans-serif!important;
    font-weight:400!important;
}

p
{
    color:#6B7B9A!important;
    font-size: 20px!important;
    font-family: 'Roboto', sans-serif!important;
    font-weight:400!important;
    line-height: 40px;
}

.checkbox-text
{
    color:#173A79!important;
    font-size: 18px!important;
    font-family: 'Roboto', sans-serif!important;
    font-weight:400!important;
}

.ksf-header
{
    
    padding:25px 25px 25px 25px;
    width:100%;
    z-index: 1;
}  

.ksf-head img
{
    width:250px;
}  

.ksf-header-background
{
    
    width:100%;
    z-index: -1;
    margin-top: -110px;
}

.ksf-header-background img
{
    
    width:100%;
}
    
.ksf-interlude
{
    
    margin-top: 100px;
    padding:50px 25px 25px 25px;
    background-color: #fff;
    width:100%;
    position: relative;
    z-index: 10
  
} 


.intro-redirect{
    
    padding-top:150px;
}

.ksf-teilnahmebedingungen
{
    
    padding:25px 25px 25px 25px;
    background-color: #fff;
    width:100%;
    position: relative;
    z-index: 20;
   
}  

.ksf-accordion{
    
    background-color: #F4F5FA!important;
    padding: 15px 15px 15px 15px;
    border-radius: 3px;
    border:none!important;
    outline: none!important;
    cursor:pointer;
}

.ksf-foot
{
    
    padding:25px 25px 25px 25px;
    background-color: #fff;
    width:100%;
    position: relative;
    z-index: 20;
    color: #069CD7;
  
    
}  

.ksf-foot img
{
    
    width:200px;
 
    
}  

.ksf-foot-below
{
    
    padding:25px 25px 25px 25px;
    background-color: #6B7B9A;
    width:100%;
    position: absolute;
    z-index: 20;
    bottom:0px;
    
  
    
}  

.ksf-foot-below img
{
    
    width:200px;
 
    
} 

.ksf-foot-below-1
{
    
    padding:25px 25px 25px 25px;
    background-color: #6B7B9A;
    width:100%;
   
    z-index: 20;
    bottom:0px!important;
    
  
    
}  

.ksf-foot-below-1 img
{
    
    width:200px;
 
    
}

.suitcase
{
    
    margin-left:-100px;
    position:fixed;
    
}  

.suitcase img
{
    
   width: 100%!important;
   margin-left:-40px; 
   margin-top: -40px;
    
}

.mobile-header
{
    display: none!important;

} 


.p-dark
{
    color:#173A79;
    line-height: 30px;
} 

.p-dark-small
{
    color:#173A79;
    line-height: 16px;
}

.dark a:hover
{
    color:#9299ae!important;
} 

.dark 
{
    color:#919CB0!important;
} 

.einwilligung{
    
    font-family: 'Roboto', sans-serif!important;
    font-weight: 400;
    
}

.legal a
{
    color:#069CD7;
} 

.legal a:hover
{
    color:#f5f5f5!important;
} 

.legal
{
    padding-top:10px;
    font-size: 15px!important;
}


.ksf-radio
{
    
    font-size:20px;
}


.single-checkbox{
    
    width: 25px; 
    height: 25px;
    outline: 1px solid white;
    background-color: #F4F5FA!important;
  
}

.ksf-btn{
    
    font-size:20px!important;
    font-weight: 700!important; 
    color: #173A79; 
    margin-top: 25px; 
    cursor: pointer; 
    background-color: rgba(252, 222, 29, 1); 
    border-color: rgba(252, 222, 29, 1);
    padding:20px!important;

}

.ksf-input{
    
    background-color: #F4F5FA!important;
    border: 1px solid #F4F5FA!important;
    border-radius: 0px!important;
    padding: 15px!important;
}


.ksf-btn input{
    
    font-weight: 700;  
    font-size:25px!important;

}

.star{
    
    line-height: 16px;
}



@media (max-width: 1024px) { 
       
    
            .suitcase img
        {

           width: 600px!important;
           margin-left:-20px; 
           margin-top: -40px;

        }


}



@media (max-width: 576px) { 
    
    .suitcase{display: none!important;} 
    .mobile-header{display: block!important; padding-top: 15px; padding-bottom: 80px;}
    .ksf-head img{display:none;}
    


}



@media (max-width: 768px) { 
    
    
    
      .suitcase img
        {

           width: 550px!important;
           margin-left:-30px; 
           margin-top: -40px;

        }
    
 
    .ksf-btn{
    
     font-size:11px!important;
    font-weight: 700!important; 
    
}
    
 .ksf-radio{ font-size:16px;}
    
    .single-checkbox{
    
    width: 20px; 
    height: 20px;
}

.dark
{
    font-size:20px;
    
} 



}


@media (max-width: 760px) { 

   .intro{
    
    
}
    
    .intro-redirect{
    
    padding-top:0px;
}
.ksf-foot-below{
        
        display:none;
    }

}



@media (max-width: 1000px) { 



}























