.hidden{
    
    display: none;
}

body
{
    background-color: #069CD7!important;
    color: #ffffff!important;
    font-family: 'Roboto', sans-serif!important;
}

.ksf-head
{
    
    padding:25px 25px 25px 25px;
    background-color: #fff;
    width:100%;
    position: relative;
    z-index: -10
  
}  

.ksf-head img
{
    width:300px;
}  

.ksf-interlude
{
    
    margin-top: 100px;
    padding:50px 25px 25px 25px;
    background-color: #fff;
    width:100%;
    position: relative;
    z-index: 10
  
} 



.intro{
    
    padding-top:50px;
}

.intro-redirect{
    
    padding-top:150px;
}

.ksf-teilnahmebedingungen
{
    
    padding:25px 25px 25px 25px;
    background-color: #fff;
    width:100%;
    position: relative;
    z-index: 20;
   
}  

.ksf-foot
{
    
    padding:25px 25px 25px 25px;
    background-color: #6B7B9A;
    width:100%;
    position: relative;
    z-index: 20;
  
    
}  

.ksf-foot img
{
    
    width:200px;
 
    
}  

.ksf-foot-below
{
    
    padding:25px 25px 25px 25px;
    background-color: #6B7B9A;
    width:100%;
    position: absolute;
    z-index: 20;
    bottom:0px;
    
  
    
}  

.ksf-foot-below img
{
    
    width:200px;
 
    
} 

.ksf-foot-below-1
{
    
    padding:25px 25px 25px 25px;
    background-color: #6B7B9A;
    width:100%;
   
    z-index: 20;
    bottom:0px!important;
    
  
    
}  

.ksf-foot-below-1 img
{
    
    width:200px;
 
    
}

.suitcase
{
    
    margin-left:-100px;
    position:fixed;
    
}  

.suitcase img
{
    
   width: 100%!important;
   margin-left:-40px; 
   margin-top: -40px;
    
}

.mobile-header
{
    display: none!important;

} 


.dark
{
    color:#9299ae;
} 

.dark a:hover
{
    color:#9299ae!important;
} 

.einwilligung{
    
    font-family: 'Roboto', sans-serif!important;
    font-weight: 400;
    
}

.legal a
{
    color:#fff;
} 

.legal a:hover
{
    color:#f5f5f5!important;
} 

.legal
{
    padding-top:10px;
}


.ksf-radio
{
    
    font-size:20px;
}


.single-checkbox{
    
    width: 30px; 
    height: 30px;
    /*outline: 1px solid white;*/
  
}
.ksf-btn{
    
     font-size:20px!important;
    font-weight: 700!important; 
    color: #173A79; 
    margin-top: 25px; 
    cursor: pointer; 
    background-color: rgba(252, 222, 29, 1); 
    border-color: rgba(252, 222, 29, 1);

}


.ksf-btn input{
    
    font-weight: 700;  
    font-size:25px!important;

}

.star{
    
    line-height: 16px;
}



@media (max-width: 1024px) { 
       
    
            .suitcase img
        {

           width: 600px!important;
           margin-left:-20px; 
           margin-top: -40px;

        }


}



@media (max-width: 576px) { 
    
    .suitcase{display: none!important;} 
    .mobile-header{display: block!important; padding-top: 15px;} 
    


}



@media (max-width: 768px) { 
    
    
    
      .suitcase img
        {

           width: 550px!important;
           margin-left:-30px; 
           margin-top: -40px;

        }
    
 
    .ksf-btn{
    
     font-size:11px!important;
    font-weight: 700!important; 
    
}
    
 .ksf-radio{ font-size:16px;}
    
    .single-checkbox{
    
    width: 20px; 
    height: 20px;
}

.dark
{
    font-size:20px;
    
} 



}


@media (max-width: 760px) { 

   .intro{
    
    padding-top:0px;
}
    
    .intro-redirect{
    
    padding-top:0px;
}
.ksf-foot-below{
        
        display:none;
    }

}



@media (max-width: 1000px) { 



}























