
li{font-size:14px;}

.hidden-form-input{display: none;}

.bg-dark{
    
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-light{
    
    background-color: #ffffff!important;
}

div.intl-tel-input{
	width:49% !important;
}
@media (max-width: 576px){
	div.intl-tel-input{
		width:100% !important;
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
   


.btn-desktop{display: block!important;}
.btn-mobile{display: none!important;}
.form-desktop{display: block!important;}
.form-mobile{display:none !important; padding: 25px;}

.partner-img-mobile{display:none !important;}
.partner-img{display: block!important;}

.model-feature{
    
    padding-top: 60px;
    padding-bottom: 60px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.stoerer{
    
    position: absolute;
    width: 250px;
    margin-top: 200px;
    margin-left:240px;
    display: block;
  
}

.text-overlay{
    
    padding: 25px;
    color: #fff;
    background-color: #00a2db;
    margin-top: 500px;
}


.features-maps{
    
  background: #fff;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 4rem;
  padding-bottom: 4rem;
    
}

.features-video{
    
  background: #fff;  /* fallback for old browsers */
  padding-top: 4rem;
  padding-bottom: 4rem;
    
}

.navbar{
    
    z-index: 2000;
    background-color: #fff!important;
}

.checkmark{
  display:inline-block;
  
  &:after{
    /*Add another block-level blank space*/
    content: '';
    display: block;
 
    /*Make it a small rectangle so the border will create an L-shape*/
    width: 3px;
    height: 6px;
 
    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #000;
    border-width: 0 2px 2px 0;
 
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}


.nav-top{
    
    background-color: #fff!important;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 0.2px solid #e34468;
    height:40px;
    
}

.nav-top-text{
    
     background-color: #fff!important;
    color: #888888;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding:10px;
}

#map { width: 100%; height: 450px;}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


.ds{
    
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 50px;
        border-radius: 25px;
     
}

.hidden{
    
    display: none;
}

.btn-text{
    
    color: #fff!important;
}

a:link {
    color: #cb190b;
}

a:visited {
    color: #cb190b;
}

a:hover {
    color: #cb190b;
}

a:active {
    color: #cb190b;
}

html{
    
    background-color: #fff!important;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

p{
 font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

.p-light{
    
    color: #ffffff;
    font-size: 0.7em;
    line-height: 2;
}

.p-dark{
    
    color: #000;
    font-size: 0.7em;
    line-height: 2;
}

hr {
  max-width: ;
  border-width: 3px;
  border-color: red; 
  
}

h1{
  font-family: font-family: 'Roboto', sans-serif;
  font-weight: 900;
  line-height: 40px;
  font-size: 2.8rem!important;
}

h2{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 1.75rem!important;
}

h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 40px;
}

.partner-container,
 header.masthead {
  position: relative;
  background: #fff;  /* fallback for old browsers */
  background-image: ;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
     
}

.form-container,
 header.masthead {
  position: relative;
     
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
  /*background-image: url('../img/or-bg.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
     
}

header.masthead h1 {
  font-size: 3rem;
}

.showcase{
    
    background-size: cover;
    background-repeat: no-repeat;
}

.showcase .showcase-text {
  padding: ;
}

.showcase .showcase-img {
 
  background-size: contain;
  background-repeat: no-repeat;
}

.introduction {
    
    background: #fff;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.features-icons {
    
    background: #f5f5f5;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 2rem!important;
  padding-bottom: 2rem!important;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
    
   position: relative;
    
   background: #f5f5f5;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #1a1c21;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.form-container-mobile{display: none;}

#large-header
{
    height: 100%!important;
    width: 100%!important;
  
}

#demo-canvas
{
    height: 100%!important;
    width: 100%!important;
  
}


.form-img{ padding-top: 50px;}
.gewinn-img {margin-left: -20px;}
.form-img-mobile{display: none;}


.header-mobile{display: none;}
/*input form*/
.hidden-mobile{display: none;}

.clearspace{

  height: 0.5px;    
  background: #e34468;  

  
}


/* MEDIA QUERIES */

@media only screen and (max-width : 1920px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
    .stoerer{
    
    display: none;
  
}
    
    
}
}


@media (max-width: 768px) {
    
    .stoerer{
    
    display: none;
  
}
}

@media (max-width: 1200px) {
    
    
    
}

@media (max-width: 1024px) {
    
      .form-img{ padding-top: 30px!important;}    
      #large-header{display: none;}   
}

@media (max-width: 870px) {
    
      .header-left{display: none;}
      .header-right{display: none;}
      .header-mobile{display: block;}
   
}

@media (max-width: 992px) {
    
    
      .partner-img-mobile{display:block !important; padding-top: 30px;}
      .partner-img{display: none!important;}
      .logo-img{display: none;}
      .form-img{display: none;}
      .form-img-mobile{display: block; margin-top:;}
      .gewinn-form{display:none;}
      .form-container-mobile{display:block;}
      .nav-top{display: none;}
      .img-partner{display:none;} 
      .showcase-img-partner{display:none;} 
      .btn-desktop{display: none!important;}
      .btn-mobile{display:block!important;}
    
      .form-desktop{display: none!important;}
      .form-mobile{display:block!important; padding: 25px;}
    
      .model-feature{background-color: rgba(255,255,255,0.7);}
}

@media (max-width: 576px) {
    
    
    
    .model-feature{padding: 20px;}
    
    
    .form-container, header.masthead { 
        
        background-image: none; 
        background: #fff;  /* fallback for old browsers */
       
    }
    
    
      .hidden-input{display: none;}
      .hidden-mobile{display: block;}
      .hidden-model{display: none;}
    
      .hidden-form-input{display: block;}
      .form-input-tablet{display: none;}
    
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 2rem;
  }
}

@media only screen and (max-width : 1920px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}





#testimonial4{
  overflow: hidden;
  min-height: 375px;
  position: relative;
  background: #1583c9;
}
#testimonial4 .carousel-inner{
  width: 75%;
  margin: auto;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 2px 3px;
  background-color: #000;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
}

.testimonial4_slide p {
  color: #ffffff;
  font-size: 16px;
  margin: 40px 0 20px 0;
}

.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}


@media only screen and (max-width: 480px){
  .testimonial4_control_button .carousel-control{
    display: none;
  }
  .testimonial4_header{
    width: 95%;
  }
  .testimonial4_header h4{
    font-size: 20px;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .testimonial4_control_button .carousel-control.left{
    left: 2%;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 2%;
  }
  .testimonial4_header{
    width: 95%;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .testimonial4_control_button .carousel-control.left{
    left: 5%;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 5%;
  }
}

@-webkit-keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
	-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

.btn-danger{
    
    background-color: #e34468!important;
    
}









