body{

   background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80%;
  background-color: #ffffff;
    
    

}

a{
     color: #009ba4;
    text-decoration: underline;
    font-weight: 700;
}

h1{font-family: 'Source Sans Pro', sans-serif; font-weight:700;}
h2{font-family: 'Source Sans Pro', sans-serif;}
h3{font-family: 'Source Sans Pro', sans-serif;}
h4{font-family: 'Source Sans Pro', sans-serif; font-weight:700;}

.logo{
    
    width: 180px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.h1-highlight{
    
    color: #f2c0a9;
}

.header-top{
    
    width:100%;
    background-color: #fff;
}

.header{
    
    width:100%;
    height:5px;
    background-color: #009ba4;
}



.footer-bottom{
    
    width:100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    margin-top: 100px;
 
    
       
}

.content-container{
    
    border-radius: 0px;
    background-color: rgba(255,255,255,0.7);
    margin-top:135px;
    padding: 25px 25px 25px 25px;
}

.form-container{
    
    margin-top: 50px;
    border-radius: 0px;
    background-color: rgba(255,255,255,0.9);
    padding: 25px 50px 50px 25px;
}

.text-container{
    
     
}

.btn-default{
    
    background-color: #009ba4; 
    color: #ffffff;
}



@media (max-width: 1280px) {
    
    .footer-bottom{
    
  display: none;   
       
}
    
    .content-container{
    
   
    margin-top:50px;
    margin-bottom:50px;
    
}

    
}


@media (max-width: 1199px) {
    

    
    .content-container{
    margin-top:50px;
    margin-bottom:50px;
    
}

    
}
