input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */



.ds{
    
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 50px;
        border-radius: 25px;
     
}

.hidden{
    
    display: none;
}

.btn-text{
    
    color: #fff!important;
}

a:link {
    color: #00a1db;
}

a:visited {
    color: #00a1db;
}

a:hover {
    color: #00a1db;
}

a:active {
    color: #00a1db;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.p-light{
    
    color: #ffffff;
    font-size: 0.7em;
    line-height: 1px;
}

hr {
  max-width: ;
  border-width: 3px;
  border-color: #00a1db; 
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 40px;
}

.form-container,
header.masthead {
  position: relative;

  background: #000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  background-image: url('../img/fibo-frau.jpg');
  background-repeat: no-repeat;
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: ;
  padding-bottom: ;
  
}

header.masthead h1 {
  font-size: 2rem;
}

.showcase .showcase-text {
  padding: 1.5rem;
}

.showcase .showcase-img {
 
  background-size: contain;
  background-repeat: no-repeat;
}

.features-icons {
    
    
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}


#large-header
{
    height: 100%!important;
    width: 100%!important;
  
}

#demo-canvas
{
    height: 100%!important;
    width: 100%!important;
  
}

.form-img{ padding-top: 50px;}
.gewinn-img {margin-left: -20px;}
.form-img-mobile{display: none;}
.gewinn-form-mobile{display: none;}

.header-mobile{display: none;}
/*input form*/
.hidden-mobile{display: none;}

.clearspace{

  height: 10px;    
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* MEDIA QUERIES */

@media only screen and (max-width : 1920px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}


@media (max-width: 1500px) {
    
    
}

@media (max-width: 1200px) {
    
    
    
}

@media (max-width: 1024px) {
    
      .form-img{ padding-top: 30px!important;}    
      #large-header{display: none;}   
}

@media (max-width: 870px) {
    
      .header-left{display: none;}
      .header-right{display: none;}
      .header-mobile{display: block;}
   
}

@media (max-width: 992px) {
    
      .logo-img{display: none;}
      .form-img{display: none;}
      .gewinn-form{display: none;}
      .form-img-mobile{display: block; margin-top:;}
      .gewinn-form-mobile{display: block;}
      
}

@media (max-width: 576px) {
    
    
    .form-container, header.masthead { 
        
        background-image: none; 
        background: #000000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
    
    
      .hidden-input{display: none;}
      .hidden-mobile{display: block;}

}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 2rem;
  }
}

@media only screen and (max-width : 1920px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}








